{% macro callCharges() %}
  <p><a target="_blank" href="https://www.gov.uk/call-charges">{{ t('Find out about call charges') }}
      <span class="font-xsmall">{{ t('(opens in a new window)') }}</span></a></p>
{% endmacro %}
